<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <title>User Input</title>
</head>
<body>
    <div class="mx-auto bg-white">
    {% extends "/navigation/navbar.html" %}
    {% block content %}
        <div class="container -mt-14 mb-4 mx-auto">
            <h1 class="text-2xl font-bold text-main">User Input</h1>
            <p class="text-base font-medium mt-4 text-main">Masukkan kalimat untuk mengidentifikasi.</p>
            <form action="{{ url_for('userInput') }}" method="POST">
                <div class="flex mt-4 space-x-4 items-center relative">
                    <textarea id="sentence" name="sentence" rows="4" class="block p-2.5 w-full h-36 text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-secondary focus:border-secondary" placeholder="Ketik di sini...">{{ sentence or '' }}</textarea>
                    <button
                        type="submit" 
                        class="bg-[#71B8BA] px-8 py-2.5 text-white text-base font-medium rounded-lg hover:bg-[#5A9395] cursor-pointer absolute bottom-3 right-4"
                    >
                        Identifikasi
                    </button>
                </div>
            </form>
        </div>

        {% if result %}
        <div class="container">
            {% if result == 'Provokasi Doxing' %}
                <div class="bg-red-50 border-l-4 border-red-400 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/exclamation -->
                        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-3">
                        <p class="text-base text-red-700">
                            Kalimat yang diinputkan mengandung
                            <a href="#" class="font-bold italic text-red-700 hover:text-red-600"> {{ result }}</a>
                        </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="bg-green-50 border-l-4 border-green-400 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/exclamation -->
                        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-3">
                        <p class="text-sm text-green-700">
                            Kalimat yang diinputkan tidak mengandung
                            <a href="#" class="font-bold italic text-green-700 hover:text-green-600"> Provokasi Doxing.</a>
                        </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    {% endblock %}
    </div>
</body>
</html>